*.class

# package file 忽略大号的包
*.war
*.ear

# kdiff3 ignore 忽略比对工具的文件
*.orig

# maven ignore 忽略maven编译后的文件
target/

# eclipse ignore 忽略eclipse的文件
.settings/
.project
.classpath

# idea ignore 忽略idea的一些文件
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file 临时文件
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore 忽略系统文件
Thumbs.db



